@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@100;500&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Montserrat:wght@300&family=Poppins:wght@100;500&family=Work+Sans&display=swap');
body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header aside'
    'main aside '
    'aside aside';
  grid-template-rows: auto;
  grid-template-columns: 50% 1fr;
}
.content {
  background-color: #121214;
}
.logo {
  position: absolute;
  width: 389px;
  height: 94px;
  left: 30px;
  top: 50px;
}
.text-position {
  position: absolute;
  width: 640px;
  height: 102px;
  left: 36px;
  top: 236px;
}
.title {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #08c05e;
}
.paragraph {
  font-family: 'League Spartan', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.form-position {
  position: absolute;
  width: 798px;
  height: 84px;
  left: 36px;
  top: 388px;
}
.form {
  display: flex;
  height: 48px;
}
.label {
  font-family: 'League Spartan', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #a8a8a8;
}
.input {
  width: 753px;
  height: 100%;
  filter: drop-shadow(4px 10px 15px rgba(0, 0, 0, 0.5));
  border-left: #08c05e solid 5px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  padding: 0px 20px;
}
.button {
  width: 48px;
  height: 100%;
  cursor: pointer;
  background-color: #8257e5;
  border: 0px;
  z-index: 10;
}
.link {
  position: absolute;
  width: 196px;
  height: 24px;
  left: 36px;
  top: 522px;
}
.link-position {
  font-family: 'League Spartan', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #8257e5;
  text-decoration: none;
}
.icon {
  width: 24px;
  height: 24px;
  left: 208px;
  top: 522px;
}
.link,
.icon {
  display: flex;
  align-items: center;
}
.image {
  background-image: url(./assets/read_news.jpg);
  background-size: 800px 700px, cover;
  background-repeat: no-repeat;
}
